:host {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.left {
    height: 100%;
    width: 50%;
    background-color: #2F3030;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.bg {
    width: 50%;
    height: 100%;
    background-image: url('/assets/icons/signup-bg.svg');
    background-size: cover;
}