form {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 30px;
        color: white;
    }

    app-text-input, app-img-dropzone {
        margin-bottom: 13px;
    }

    .social {
        padding: 14px;
        border-radius: 5px;
        background-color: white;
        display: flex;
        justify-content: center;
    }
}