@import '@fontsource/archivo-black';
@import '@fontsource/poppins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 32px;
    color: white;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 16px;
}


p {
   font-family: 'Poppins', sans-serif;
   font-size: 15px; 
}


ul {
    list-style: none;
}